<a href="/" class="logo">Node Blog</a>

<nav class="header_nav">
    <ul>
        <li>
            <a href="/" class="HomePage">Home Page</a>
        </li>
        <li>
            <a href="/About" class="About">About</a>
        </li>
        <li>
            <a href="/Contact" class="Contact">Contact</a>
        </li>
    </ul>
</nav>

<div class="header_button">
    <button class="searchBtn">Seach</button>
</div>