<div class="author">
    <h1 class="author__heading">Blog</h1>
    <p class="author__body">Blog-blog-blog</p>
  </div>
  
  <img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528">
  
  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
        <li>
          <a href="/post/post._id ">
            <span></span>
            <span class="article-list__date"></span>
          </a>
        </li>
    </ul>